@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .btn {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .top-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.8rem 2.5rem;
  }

  .page__link__top {
    display: block;
  }

  .top-nav-catigories {
    display: flex;
  }

  .bottom-navigation {
    display: none;
  }

  .search-container {
    width: 100%;
    padding-right: 1.2rem;
    margin: 0;
  }

  input[name="search"],
  input[name="search-submit"] {
    font-size: medium;
  }

  .hero-section {
    height: 90vh;
  }

  .hero-section h1 {
    font-size: 3.5rem;
  }

  .product-container-header {
    padding: 4rem 0;
  }

  .product-container-header h1 {
    width: fit-content;
    font-size: 2rem;
  }

  .separater-line {
    width: 40%;
  }

  .products-container {
    width: 100%;
    padding: 0.5rem 10rem;
  }

  .product-card {
    height: 300px;
  }
  .product-image-container {
    height: 200px;
  }

  .product-gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 15rem;
  }

  .wide-img {
    grid-column: span 2 / auto;
  }
}
