:root {
  --princes: "Princess Sofia", cursive;
  --burlywood: #e4c59b;
  --burlywood-hover: #cf964b;
  --light-gray: #efdcc33a;
  --white: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
  color: black;
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.direction-to-column {
  flex-direction: column;
}

.meduim-icons {
  width: 1.2rem;
}

.larg-icons {
  width: 2rem;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1.8rem;
  border: none;
  border-radius: 1.5rem;
  background: var(--burlywood);
}
.btn:hover,
.btn:active {
  color: var(--white);
  background: var(--burlywood-hover);
}

.top-navigation {
  padding-bottom: 0.5rem;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.46);
  width: 100%;
  background: var(--white);
}

.logo-container {
  margin-right: 1rem;
}

.logo-container .logo__item {
  font-family: var(--princes);
  color: var(--burlywood);
  font-size: 2rem;
}

.page__link {
  text-align: center;
}

.page__link__top {
  display: none;
  padding: 0 1rem;
}

.page__link:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);

  transform: scale(1.1);
  transition-duration: 0.4s;
}

.active {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.search-container {
  margin: 0 1.5rem;
}

input {
  font-family: inherit;
  font-size: 0.7rem;
}

input[name="search"] {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0.1rem var(--burlywood) solid;
  border-radius: 1.5rem 0 0 1.5rem;
  background: var(--light-gray);
}

input[name="search"]:focus {
  border: 0.1rem var(--burlywood-hover) solid;
}

input[name="search-submit"] {
  padding: 0.5rem;
  background: var(--burlywood);
  border-radius: 0 1.5rem 1.5rem 0;
  border: 0.1rem var(--burlywood) solid;
  cursor: pointer;
}

input[name="search-submit"]:hover,
input[name="search-submit"]:focus {
  border: 0.1rem var(--burlywood-hover) solid;
}

.top-nav-catigories {
  display: none;
  width: 100%;
  justify-content: center;
}

.top-nav-catigories ul il {
  margin: 0 2rem;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.46);
}

.hero-section {
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}

.hero-section h1 {
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 5px 5px 50px black;
  text-align: center;
  animation-name: head;
  animation-duration: 2s;
}

.hero-section-background {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
